.MuiCalendarPicker-root {
  background-color: rgb(243, 255, 242);
}

.MuiButtonBase-root.MuiPickersDay-root {
  background-color: rgb(243, 255, 242);
}

.MuiButtonBase-root.MuiPickersDay-root.Mui-disabled {
  color: red;
  font-weight: bold;
  background-color: rgb(255, 198, 198);
}

.MuiInputBase-input.MuiOutlinedInput-input {
  color: rgb(20, 86, 13);
}

.MuiBox-root {
  color: rgb(20, 86, 13);
}
